/*
  Colors
  - Dark gray:        rgb(60, 60, 60)
  - Very light gray:
  - Nearly white:     rgb(245, 241, 234)
  - Red:              rgb(231, 57, 57)
*/

html {
  font-size: 18px;
}

.red-link {
  color: inherit;
  border-bottom: 0.1em solid rgb(231, 57, 57);
  padding-bottom: 2px;
  text-decoration: none;
}

.red-link:hover,
.red-link:focus {
  text-decoration: none;
  color: rgb(231, 57, 57);
}

body {
  font-size: 1rem;
  font-family: 'PT Mono', monospace;
  background-color: rgb(245, 241, 234);
  color: rgb(60, 60, 60);
  width: 100vw;
  overflow-x: hidden;
}

.secondary-color {
  color: rgb(231, 57, 57);
  font-weight: bold;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}